.app {
    height: 100vh;
    width: 100vw;
    background-color: #202124;
    color: #e8eaed;
    font-family: Arial, sans-serif;
    position: relative;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  